.course-content-page .aside-content {
  top: 0;
  border-radius: 0;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 766px) {
  .course-content-page .aside-content {
    display: none;
  }
  .course-content-page .course-content-main-body .aside-content {
    display: block;
  }
}

.course-content-page .aside-content .layout-menu-toggler {
  padding: 1rem;
  border-bottom: 1px solid var(--grey-border);
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.course-content-page .aside-content .layout-menu-toggler-header p {
  font-weight: bold;
}

.course-content-page .aside-content label {
  align-items: flex-start !important;
}

.course-content-page .layout-menu-toggler-content {
  margin-top: 0.5rem;
}
