.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signup-page-content {
  padding-block: 80px;
  padding-inline: 1.5rem;
}

.signup-page-content form > * {
  margin-top: 1.1rem;
}

.signup-page-content label {
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
}

.signup-page-content input::placeholder {
  text-transform: capitalize;
  font-size: 0.75rem;
}

.signup-img-wrapper {
  background-image: url("../../../../assets/signup.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
