.home-page .statistics-section {
  margin-block: calc(var(--main-margin) * 2);
}

.home-page .stats {
  background: #f8fafc;
}

.home-page .stat-card:not(:last-of-type)::before {
  --height: 60%;
  content: "";
  position: absolute;
  height: var(--height);
  width: 3px;
  background-color: #e2e8f0;
  top: calc((100% - var(--height)) / 2);
  right: 0;
  transform: translate(50%, 0);
}

.home-page .stat-card:first-of-type .stat-card-content {
  margin-right: auto;
}

.home-page .stat-card:last-of-type .stat-card-content {
  margin-left: auto;
}

.home-page .stat-card-content p {
  color: rgb(77, 75, 75);
  font-weight: normal;
}
