.course-page .tabs-items {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e2e8f0;
}

.course-page .tabs-items a {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem 2rem;
}
.course-page .tabs-items a:hover,
.course-page .tabs-items a.active {
  border-color: var(--clr-grey-disabled) !important;
  background-color: #eff6ff;
}

.course-page .section2 .instructor .ins_info {
  display: flex;
  margin-top: 30px;
}

.course-page .section2 .instructor .ins_info img {
  width: 120px;
  height: 120px;
}

.course-page .section2 .instructor .ins_info .ins_details .review span,
.course-page .section2 .instructor .ins_info .ins_details .student span,
.course-page .section2 .instructor .ins_info .ins_details .courses span {
  color: #0f172a;
  font-size: 16px;
}

.course-page .section2 .instructor .ins_info .ins_details .review i,
.course-page .section2 .instructor .ins_info .ins_details .student i,
.course-page .section2 .instructor .ins_info .ins_details .courses i {
  color: #0f172a;
}

.course-page .section2 .syllabus .ux_design {
  display: flex;
  justify-content: space-between;
}

.course-page .section2 .syllabus .ux_design select {
  direction: rtl;
  font-size: 20px;
  font-weight: 500;
  color: #0f172a;
  padding-left: 15px;
  border: none;
}

.course-page .section2 .syllabus .ux_design .ux_details span {
  color: #0f172a;
  font-size: 18px;
}
