.details-tab .details-tab-container .details-tab-content .courseName,
.details-tab .details-tab-container .details-tab-aside .coursePrice,
.details-tab .details-tab-container .details-tab-aside .courseLanguage {
  width: 100%;
  border: 2px solid #e2e8f0;
  padding: 20px;
  border-radius: 20px;
}

.details-tab .details-tab-container .details-tab-aside .courseLanguage select {
  color: #64748b;
}
