.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

.login-page-content {
  padding-block: 200px;
  padding-inline: 1.5rem;
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
}

.login-page-content form > * {
  margin-top: 1.1rem;
}

.login-page-content label {
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
}

.login-page-content input::placeholder {
  text-transform: capitalize;
  font-size: 0.75rem;
}

.login-img-wrapper {
  background-image: url("../../../../assets/login.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
