.chapters-tab-resources-body {
  width: 97%;
  margin: 0 auto;
}

.section h5 {
  color: #0f172a;
}

.section {
  width: 60%;
  border: 2px solid #e2e8f0;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.upload-section {
  width: 60%;
  border: 2px dashed #e2e8f0;
  padding: 20px;
  border-radius: 20px;
}
