:root {
  --main-margin: 60px;
}

.main-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* .main-app .app-wrapper > *:nth-child(1) {
  height: 100%;
} */

/* Global classes */

.content-aside-layout-reverse,
.content-aside-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}
.content-aside-layout-reverse {
  flex-direction: column;
}

@media (min-width: 767px) {
  .content-aside-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .content-aside-layout-reverse {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.content-aside-layout aside {
  margin-bottom: 3rem;
}
.content-aside-layout .aside-content {
  position: sticky;
  top: 1rem;
  left: 0;
  border: 1px solid var(--grey-border);
  padding: 1rem;
  border-radius: 1rem;
}

figure:hover {
  transform: translateY(0px);
  /* box-shadow: 0 5px 10px -3px rgb(0 0 0 / 0.1), 0 4px 7px -3px rgb(0 0 0 / 0.1) !important; */
  transition: 0.1s ease;
}

/*
 * Signup && login pages:
 *
 */

.form-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.form-page-content {
  padding-block: 150px;
  padding-inline: 1.5rem;
}

.form-img-wrapper {
  background-color: #0f1d36;
  background-image: url("../../assets/signup.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.layout-checkboxes {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

/** modal */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(28, 29, 31, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal .modal-box {
  background-color: #fff;
  padding: 1.5rem;
}
