.home-page .instructors-overviews {
  overflow: hidden;
}

.home-page .instructors-overviews > .container {
  margin-block: calc(var(--main-margin));
}

.home-page .instructors-overviews .header-content {
  max-width: 550px;
}
