.profile-page-aside {
  margin-bottom: 0 !important;
}

.profile-page-aside a {
  text-transform: capitalize;
  display: block;
  padding: 1rem;
}

.profile-page-aside a.active {
  background-color: #000;
  color: #fff;
}

.profile-page-aside header .img-wrapper {
  width: 160px;
  height: 160px;
  margin-inline: auto;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;

  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

.profile-page-aside header a {
  border-bottom: 2px solid var(--grey-border) !important;
}
