.dashboard-app {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

.dashboard-app > div {
  padding: 1rem;
}

.dashboard-app h1,
.dashboard-app h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

/*
 * Signup && Login pages;
 */
.form-dash-page {
  background-color: #040d21;
  color: #8193b2;
}

.form-dash-page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 50px 100px;
}

.form-dash-page-body .title {
  font-family: monospace;
  border-bottom: 1px solid;
}

.form-dash-page-content {
  background-color: #0c162d;
  border: 1px solid #202637;
  padding: 1.5rem;
  min-width: 400px;
  min-height: 400px;
}

.form-dash-page-content .auth-more-options p span {
  background-color: hsl(222, 58%, 11%);
}
