.dashboard-app {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  /* background-color: #040d21; */
}

.dashboard-app > div {
  padding: 1rem;
}

.dashboard-app h1,
.dashboard-app h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

/*
 * Signup && Login pages;
 */
.form-dash-page {
  background-color: #040d21;
  color: #8193b2;
  background-image: linear-gradient(to bottom, #040d21, #091227);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.5px;
}

.form-dash-page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 50px 100px;
}

.form-dash-page-body .title {
  border-bottom: 1px solid;
}

.form-dash-page-content {
  background-color: #0c162d;
  border: 1px solid #202637;
  padding: 1.5rem;
  min-width: 400px;
  min-height: 400px;
  box-shadow: 0 0 2px #202637;
}

.form-dash-page-content .auth-more-options p span {
  background-color: hsl(222, 58%, 11%);
  font-weight: 100 !important;
  font-size: 10px;
}
