.profile-page {
  margin-block: calc(var(--main-margin) * 0.5) calc(var(--main-margin) * 2);
}

.profile-page h2 {
  text-transform: capitalize;
}

.tab-my-courses figure,
.tab-my-teachers figure {
  border: 1px solid var(--grey-border);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.profile-page article {
  margin-bottom: 1rem;
}
