.profile-page {
  margin-block: calc(var(--main-margin) * 0.5) calc(var(--main-margin) * 2);
}

.profile-page h2 {
  text-transform: capitalize;
}

.profile-page section {
  border: 2px solid var(--grey-border);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.tab-my-courses figure,
.tab-my-teachers figure {
  border: 1px solid var(--grey-border);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.profile-page article {
  margin-bottom: 1rem;
}
