.chat-room {
  border-radius: 1rem;
  border: 1px solid var(--grey-border);
  overflow: hidden;
}

.chat-room .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  color: var(--grey-900, #0f172a);
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--grey-border);
}

.chat-room .avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-room .date-chip {
  border: 1px solid var(--grey-border);
  background: var(--grey-100, #f1f5f9);
  color: var(--grey-900, #0f172a);
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  padding: 8px;
  width: fit-content;
  margin-inline: auto;
}

.chat-room .message {
  border-radius: 0.5rem 0rem 0.5rem 0rem;
  background: var(--grey-900, #0f172a);
  color: white;
  font-size: 14px;
  padding: 0.25rem 0.75rem;
  word-break: break-all;
  width: fit-content;
  max-width: 607px;
  margin-inline-start: auto;
  margin-block: 0.25rem;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: default;
}

.chat-room .reply-message {
  color: #000;
  background: var(--grey-100, #f1f5f9);
  margin-inline-start: 0;
}

.chat-room .timestamp {
  font-size: 9px;
  font-weight: 600;
  color: #ccc;
  width: max-content;
}

.chat-room .reply-message .timestamp {
  color: var(--grey-text-light, #64748b);
}
