.learner-reviews-body .course-info {
  display: none !important;
}
.learner-reviews-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.learner-reviews-section .reviews,
.learner-reviews-section .reviews > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.learner-reviews-section .review {
  padding: 1.5rem;
  border: 1px solid var(--grey-border);
  border-radius: 1rem;
  cursor: default;
}

.learner-reviews-section .review > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.learner-reviews-section .review img {
  width: 60px;
  height: 60px;
}

.learner-reviews-section .review span {
  color: #2a140f;
  font-size: 14px;
}

.learner-reviews-section .review_date {
  color: #334155;
}

.learner-reviews-section .rate,
.learner-reviews-section .star {
  color: #fec84b;
  font-size: 16px;
}

.learner-reviews-section .star_empty {
  color: #cbd5e1;
}
