.home-page .home-header {
  margin-block: 50px 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem 5rem;
}

.header-content {
  max-width: 550px;
}

@media (max-width: 1000px) {
  .header-body {
    gap: 3rem;
    flex-direction: column-reverse !important;
  }
}

.header-content p {
  margin-block: 1rem 2rem;
}

.header-img {
  max-width: 500px;
}

.my-btn {
  /* border-radius: 0 !important; */
  border: 1px solid currentColor;
  text-transform: capitalize;
}

.btn--dark-light {
  color: #fff;
  background-color: var(--clr-grey-dark);
  border-color: var(--clr-grey-dark);
}
.btn--dark-light:hover {
  background-color: var(--clr-grey-darker);
}

.btn--trans {
  border-color: var(--clr-grey-dark);
}
.btn--trans:hover {
  background-color: #eeee;
}
