.home-page .home-header {
  margin-top: 50px !important;
}

.home-page .header-content {
  max-width: 550px;
}

.home-page .header-body {
  gap: 5rem 3rem;
}

@media (max-width: 1000px) {
  .home-page .header-body {
    flex-direction: column-reverse !important;
  }
}

.home-page .header-content p {
  margin-block: 1rem 2rem;
}

.home-page .header-img {
  max-width: 500px;
}
