* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container .content {
  width: 70%;
}

.container .content span {
  color: #000;
  font-size: 20px;
}

.container .content .home,
.category {
  color: #334155;
}

.container .content .user {
  color: #2563eb;
}

.section1 p {
  color: #334155;
}
.section1 .rating .rate,
.star {
  color: #fec84b;
  font-size: 16px;
}

.section1 .rating .no_rate,
.desc {
  color: #334155;
  font-size: 16px;
}

.section1 .rating .desc {
  color: #334155;
  font-size: 16px;
}

.section1 .user_details img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.section1 .user_details .userName {
  font-size: 16px;
  color: #334155;
}

.section1 .user_details .userName .user_name {
  font-size: 16px;
  color: #2563eb;
}

.section1 .lang .language {
  font-size: 16px;
  color: #334155;
}

.section2 .btn button {
  border: thin solid #e2e8f0;
  border-radius: 5px;
}

.section2 .instructor .ins_info {
  display: flex;
  margin-top: 30px;
}

.section2 .instructor .ins_info img {
  width: 120px;
  height: 120px;
}

.section2 .instructor .ins_info .ins_details .review span,
.section2 .instructor .ins_info .ins_details .student span,
.section2 .instructor .ins_info .ins_details .courses span {
  color: #0f172a;
  font-size: 16px;
}

.section2 .instructor .ins_info .ins_details .review i,
.section2 .instructor .ins_info .ins_details .student i,
.section2 .instructor .ins_info .ins_details .courses i {
  color: #0f172a;
}

.section2 .syllabus .ux_design {
  display: flex;
  justify-content: space-between;
}

.section2 .syllabus .ux_design select {
  direction: rtl;
  font-size: 20px;
  font-weight: 500;
  color: #0f172a;
  padding-left: 15px;
  border: none;
}

.section2 .syllabus .ux_design .ux_details span {
  color: #0f172a;
  font-size: 18px;
}

.section2 .learner_reviews {
  display: flex;
  justify-content: space-between;
}

.section2 .learner_reviews span {
  color: #0f172a;
  font-size: 16px;
}

.section2 .learner_reviews .learner_rate {
  width: 30%;
}

.section2 .learner_reviews .theLearners {
  width: 65%;
  margin-left: 60px;
}

.section2 .learner_reviews .learner_comments {
  display: flex;
  flex-direction: column;
}

.section2 .learner_reviews .learner_comments .learner1 {
  display: flex;
  justify-content: space-between;
}

.section2 .learner_reviews .learner_comments .learner_img_name {
  width: 30%;
}

.section2 .learner_reviews .learner_comments .learner1_comment {
  width: 65%;
}

.section2 .learner_reviews .learner_comments .learner_img_name img {
  width: 60px;
  height: 60px;
}
.section2 .learner_reviews .learner_comments .learner_img_name span {
  color: #0f172a;
}

.section2
  .learner_reviews
  .learner_comments
  .learner1_comment
  .learner1_rate
  .review_date {
  color: #334155;
}

.star_empty {
  color: #cbd5e1;
}

.container .aside {
  width: 35%;
}

.container .aside .course_image,
.container .aside .course_info,
.container .aside button,
.container .aside .share {
  width: 356px;
  margin: 0 auto;
}

.container .aside .course_info .price {
  color: #0f172a;
}

.container .aside .course_info strike {
  color: #94a3b8;
}

.container .aside .course_info .discount {
  color: #16a34a;
}

.container .aside .btn_add {
  background-color: #020617;
  color: #fff;
  text-transform: capitalize;
  padding: 15px;
}

.container .aside .btn_buy {
  padding: 10px;
  font-weight: bold;
  border: #020617 solid thin;
}

.container .aside .share h5 {
  color: #0f172a;
}
