.shopping-cart-wrapper {
  display: flex;
  justify-content: space-between;
}
.shopping-cart-wrapper .content {
  width: 73%;
}

.shopping-cart-wrapper .aside {
  width: 25%;
}

.shopping-cart-page {
  min-height: 1000px;
}

.shopping-cart-page .links .shopping {
  color: #2563eb;
}

.shopping-cart-page p {
  color: #334155;
}

.shopping-cart-page .theCourse {
  display: flex;
}
.shopping-cart-page .theCourse .theCourseImg {
  width: 25%;
}

.shopping-cart-page .theCourse .theCourseContent {
  width: 75%;
  line-height: 2;
}

.shopping-cart-page .theCourse .theCourseContent .details i,
.rate {
  color: #fec84b;
}

.shopping-cart-page .theCourse .theCourseContent .details .rateDetails {
  color: #64748b;
}

.shopping-cart-page .theCourse .theCourseContent .details .courseDetails {
  color: #020617;
}

.shopping-cart-page .theCourse .theCourseContent .courseBtn .btn1 {
  color: #3b82f6;
}

.shopping-cart-wrapper .aside .details .orderDetails {
  border: thin solid #e2e8f0;
}

.shopping-cart-wrapper .aside .details .orderDetails .orderPrice .num {
  color: #0f172a;
  font-weight: bolder;
}

.shopping-cart-wrapper .aside .details button {
  background-color: #020617;
  color: #fff;
  padding: 10px;
}
