.mentor-main-content header {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.mentor-main-content header span {
  color: var(--grey-700, #334155);
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.mentor-main-content header .instructor-header-stats {
  align-self: start;
  display: flex;
  margin-top: 16px;
  align-items: start;
  gap: 40px 121px;
}

.mentor-main-content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}

.mentor-main-content section {
  margin-bottom: 1rem;
}

.mentor-main-content section ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-inline-start: 1rem;
}

.mentor-main-content .content {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
}

.mentor-main-content .section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 16px;
}

.mentor-main-content .sectionContent {
  color: var(--grey-700, #334155);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 4px;
  width: 100%;
}
