/* Global style */

:root {
  --clr-main: #0294e9;
  --clr-grey-border: var(--grey-border);
  --clr-grey-disabled: #94a3b8;
  --grey-border: #e2e8f0;

  --clr-grey-white: #f8fafc;
  --clr-grey-lighter: #f1f5f9; /* 100 */
  --clr-grey-light: #cbd5e1; /* 300 */
  --clr-grey-dark: #334155; /* dark 700 */
  --clr-grey-darker: #1e293b; /* dark 800 */
  --clr-grey-darkest: #0f172a; /* dark 900 */

  --clr-brown: #020617;
  --clr-yellow: #fec84b;
  --clr-blue-light: #0866ff;
  --clr-blue-primary: #2563eb;
  --clr-orange: #ea4335;
  --clr-red: #dc2626;
  --clr-green: #16a34a;

  --transition-main: 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--clr-grey-dark);
  line-height: 1.7;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h1,
h2 {
  color: var(--clr-grey-darkest);
}

h3 {
  color: #000;
}

h4 {
  color: var(--clr-grey-lighter);
}

h5,
h6 {
  color: var(--clr-grey-dark);
}

a {
  color: currentColor;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
}

/**/
.btn.disabled {
  cursor: not-allowed !important;
}

/**/
.auth-form > * {
  margin-top: 1.1rem;
}

.auth-form label {
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
}

.auth-form input::placeholder {
  text-transform: capitalize;
  font-size: 0.75rem;
}

.dark .auth-form input {
  background-color: transparent;
  color: white;
  border-color: #202637;
}
.dark .auth-form input::placeholder {
  color: #8193b2;
}
.dark .auth-form button {
  background-color: #202637;
  width: 100%;
}
