.main-navbar {
  font-size: 13px;
  padding-block: 0.75rem !important;
  /* border-bottom: 1px solid var(--clr-grey-border); */
}

.main-navbar > div {
  display: flex;
  align-items: center;
}

.main-navbar .navbar-items:first-of-type {
  flex: 1;
}

.main-navbar .navbar-items {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.main-navbar .navbar-items svg {
  height: 22px;
  width: 22px;
}

.main-navbar .navbar-items .form-item {
  flex: 1;
  position: relative;
}

.main-navbar .navbar-items .form-item form {
  display: flex;
  flex-direction: row-reverse;
}

.main-navbar .navbar-items .form-item input {
  padding: 0.75rem;
  padding-left: 3rem;
  border-radius: 50px;
  font-size: inherit;
  transition: 0.2s ease;
}

.main-navbar .navbar-items .form-item .button-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 50px;
}

.main-navbar .navbar-items .form-item button {
  border-color: transparent;
}

.main-navbar .navbar-items .form-item button:active {
  border-color: transparent;
}

.main-navbar .navbar-items a {
  display: block;
  padding: 0.75rem 1rem;
  position: relative;
  /* transition: var(--transition-main); */
}

.main-navbar.auth .navbar-items a {
  padding: 0.75rem;
}

.main-navbar .navbar-items a.active {
  font-weight: bold;
}

.main-navbar .navbar-items a:not(.my-btn):hover {
  color: #000;
}

.main-navbar .navbar-items a:not(.my-btn):hover path {
  stroke: #000;
}

/* auth items */
.main-navbar.auth .navbar-items .profile-link {
  padding-inline-end: 0;
  padding-block: 0;
}

.main-navbar.auth .navbar-items .profile-link > * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-grey-dark);
}

/* Responsive style */

@media (max-width: 991px) {
  .main-navbar .navbar-items li:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 850px) {
  .main-navbar .navbar-items li:nth-of-type(1) {
    display: none;
  }
  .main-navbar .navbar-items li:nth-of-type(2) {
    margin-inline-start: 1rem;
  }
}

@media (max-width: 767px) {
  .main-navbar .navbar-items {
    display: none;
  }
}
