.main-navbar {
  font-size: 14px;
  padding-block: 0.75rem !important;
  border-bottom: 1px solid var(--clr-grey-border);
}

.main-navbar > div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.navbar-items {
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navbar-items .form-item {
  flex: 1;
  position: relative;
}

.navbar-items .form-item form {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-items .form-item input {
  padding: 0.75rem;
  border: 1px solid currentColor;
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar-items .form-item input:focus {
  outline: none !important;
}

.navbar-items .form-item button {
  margin-right: -2px;
  border: 1px solid currentColor;
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.navbar-items a {
  display: block;
  padding: 0.75rem 1rem;
  position: relative;
  /* transition: var(--transition-main); */
}

.navbar-items a.active {
  font-weight: bold;
}

.navbar-items a:not(.my-btn):hover {
  color: #000;
}

.navbar-items a:not(.my-btn):hover path {
  stroke: #000;
}
