.main-navbar {
  font-size: 13px;
  padding-block: 0.75rem !important;
  /* border-bottom: 1px solid var(--clr-grey-border); */
}

.main-navbar > div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.navbar-items {
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navbar-items .form-item {
  flex: 1;
  position: relative;
}

.navbar-items .form-item form {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-items .form-item input {
  padding: 0.75rem;
  padding-left: 3rem;
  border-radius: 50px;
  font-size: inherit;
  transition: 0.2s ease;
}

.navbar-items .form-item .button-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 50px;
}

.navbar-items .form-item button {
  border-color: transparent;
}

.navbar-items .form-item button:active {
  border-color: transparent;
}

.navbar-items a {
  display: block;
  padding: 0.75rem 1rem;
  position: relative;
  /* transition: var(--transition-main); */
}

.navbar-items a.active {
  font-weight: bold;
}

.navbar-items a:not(.my-btn):hover {
  color: #000;
}

.navbar-items a:not(.my-btn):hover path {
  stroke: #000;
}

@media (max-width: 991px) {
  .main-navbar .navbar-items li:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 850px) {
  .main-navbar .navbar-items li:nth-of-type(1) {
    display: none;
  }
  .main-navbar .navbar-items li:nth-of-type(2) {
    margin-inline-start: 1rem;
  }
}

@media (max-width: 767px) {
  .main-navbar .navbar-items {
    display: none;
  }
}
