.tab-profile form {
  border: 2px solid var(--grey-border);
  padding: 20px;
  border-radius: 10px;
}

.tab-profile form label {
  width: 48%;
  color: #000;
  font-weight: 500;
  margin-top: 15px;
}

.tab-profile form label input {
  border: 2px solid var(--grey-border);
  color: #94a3b8;
}

.tab-profile select {
  border: 2px solid var(--grey-border);
  padding: 15px;
  border-radius: 10px;
  color: #94a3b8;
  width: 48%;
}

.tab-profile .uploadingImg {
  border: 2px solid var(--grey-border);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.tab-profile .uploadingImg .img {
  position: relative;
  width: 392.48px;
  height: 223px;
  background: var(--grey-border);
  border-radius: 8px;
  margin-left: 10px;
}

.tab-profile .uploadingImg .img img {
  width: 39.03px;
  height: 33.45px;
  position: absolute;
  top: 45%;
  left: 45%;
}

.tab-profile form .uploadingImg input {
  border: 2px solid var(--grey-border);
  color: #94a3b8;
  width: 60%;
}

.tab-profile form .uploadingImg .selectImage button {
  border: 1px solid #000;
  padding: 8px;
  border-radius: 8px;
  margin-left: 20px;
  color: #0f172a;
}

.tab-profile form .uploadingImg .selectImage .saveImg {
  display: block;
  width: 20%;
  padding: 8px;
  border-radius: 8px;
  background-color: #0f172a;
  color: #fff;
  margin-top: 20px;
}

.tab-profile .links {
  border: 2px solid var(--grey-border);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.tab-profile .links h5 {
  color: #0f172a;
}

.tab-profile .links label {
  display: block;
  color: #0f172a !important;
  font-weight: 500 !important;
}

.tab-profile .links input {
  display: block;
  width: 100%;
  border: 2px solid var(--grey-border);
  color: #94a3b8;
  padding: 15px !important;
}

.tab-profile .form-group {
  display: flex;
  justify-content: space-between;
}
