.course-content-main {
  margin-bottom: var(--main-margin);
}
.course-content-main video {
  flex: 1;
  min-height: 300px;
}

.course-content-main .tab-content section {
  margin-top: 0;
}

.course-content-main .tab-content section .container {
  padding-inline: 0;
}
